body {
  margin:0;
  padding:0;
  background-color: grey;
} 

#root {
  /* max-width: 1280px; */
  margin:0;
  padding:0;
}

.Header {
  width:100%;
  height:15vh;
  text-align: center;
  padding-top: 1vh;
  color:black;
  background-color: lightgrey;
}


